{% extends "page.html.twig" %}

{% block content %}
    <div id='calendar'></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var _calendar_dataurl = '{{ url_for("ajax-events_calendar") }}';
    var _calendar_event_url = '{{ url_for("events_event_edit", {"id": "PLACEBO"}) }}';
    var _fullcalendar_views = {
      listDay: { buttonText: '{{ _T("Daily list", "events")|e('js') }}' },
      listWeek: { buttonText: '{{ _T("Weekly list", "events")|e('js') }}' },
      listMonth: { buttonText: '{{ _T("Monthly list", "events")|e('js') }}' },
      dayGridMonth: { buttonText: '{{ _T("Month calendar", "events")|e('js') }}' },
      today: { buttonText: '{{ _T("Today", "events")|e('js') }}' }
    }
    var _fullcalendar_locale = '{{ galette_lang }}';
    $(function() {
        {% include "elements/js/removal.js.twig" %}
    });
</script>
<script type="text/javascript" src="{{ url_for("plugin_res", {"plugin": module_id, "path": "js/calendar.bundle.js"}) }}"></script>
{% endblock %}
